#container
%h1
  Title

  .box.photo.col3
  %img{ :src => "http://condor.wesleyan.edu/openmedia/athletics/0405wihmugs/0405wihmugs-Images/10.jpg", :alt => "image1" }
  %img{ :src => "http://wesleyanargus.com/media/photo/2794__330__.jpg", :alt => "image2" }
  %img{ :src => "http://sphotos-b.xx.fbcdn.net/hphotos-snc6/228505_588624624413_3571458_n.jpg", :alt => "image3" }
  %img{ :src => "http://sphotos-b.xx.fbcdn.net/hphotos-snc6/206621_584928197083_1555489_n.jpg", :alt => "image4" }
  %img{ :src => "http://sphotos-a.xx.fbcdn.net/hphotos-snc7/5017_119520404551_6639557_n.jpg", :alt => "image4" }
  %img{ :src => "http://sphotos-b.xx.fbcdn.net/hphotos-ash4/423963_904096840568_1907487937_n.jpg", :alt => "image4" }
  %img{ :src => "http://sphotos-b.xx.fbcdn.net/hphotos-ash4/384485_10100119665700777_237894186_n.jpg", :alt => "image4" }
  %img{ :src => "http://sphotos-b.xx.fbcdn.net/hphotos-snc6/284433_10150235933918775_5704932_n.jpg", :alt => "image4" }
  %img{ :src => "http://sphotos-b.xx.fbcdn.net/hphotos-ash4/480_834238088041_351_n.jpg", :alt => "image4" }